<div class="main">
  <mat-form-field>
    <mat-label>하우스 선택</mat-label>
    <mat-select
      [(ngModel)]="controlPanelService.CurrentControlPanel.id"
      (ngModelChange)="controlPanelChanged($event)"
    >
      <mat-option
        *ngFor="let controlPanel of controlPanelService.controlPanels"
        [value]="controlPanel.id"
        >{{ controlPanel.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
