.actuators {
  text-align: center;
  padding-bottom: 16px;
  padding-top: 0px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--base-color);
  color: var(--font-color);
}
.auto-manual {
  border: 1px solid var(--base-deep-color);
  background-color: var(--main-color);
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.03);
  font-weight: 600;
  padding: 8px;
  font-size: 1em;
  width: 784px;
  margin: auto;
  color: var(--font-color);
}

.control-state {
  font-size: 1em;
  width: 800px;
  margin: auto;
  background-color: var(--base-color);
}
.control-state > .title {
  font-weight: 600;
  padding: 4px;
  padding-left: 16px;
  background-color: var(--base-color);
  border: 1px solid var(--base-deep-color);
}
.control-state .contents > .title {
  display: flex;
}
.control-state > .contents > .title > .name {
  font-size: 0.9em;
  padding: 8px 0 8px 0;
  text-align: center;
  flex-basis: 400px;
  background-color: var(--main-color);
  color: var(--font-color);
  font-weight: 300;
}
.control-state > .contents > div > .item {
  display: flex;
}
.control-state > .contents > div > .item > .name,
.control-state > .contents > div > .item > .state,
.control-state > .contents > div > .item > .log {
  font-size: 0.9em;
  flex-basis: 400px;
  text-align: center;
  padding: 12px 0px 8px 0;
  background-color: var(--base-color);
  border: 1px solid var(--base-deep-color);
}
a {
  text-decoration: none;
  color: black;
}
.module {
  margin-top: 4px;
  margin-left: 4px;
  min-width: 87px;
  font-size: 0.9em;
}
.btn {
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn.module {
  color: #666;
  background-color: #e1e5ec;
  border-color: #e1e5ec;
  font-size: 14px;
  font-weight: 600;
  margin-left: 4px;
  margin-top: 2px;
  min-width: 4.6em;
}
@media (max-width: 420px) {
  .auto-manual {
    width: 402px;
  }
  .control-state {
    width: 420px;
  }
  .control-state > .contents > div > .item > .name,
  .control-state > .contents > div > .item > .state,
  .control-state > .contents > div > .item > .log {
    flex-basis: 140px;
  }
  .control-state > .contents > .title > .name {
    flex-basis: 140px;
  }
}
