<div class="background">
  <div class="actuators">
    <ul>
      <div *ngFor="let module of modules" style="display: inline-block;">
        <a routerLink="/controller/{{ module.id }}">
          <button class="module" (click)="refreshActuators(module.id)">
            <span>
              {{ module.name }}
            </span>
          </button>
        </a>
      </div>
    </ul>
  </div>
  <div>
    <div class="auto-manual">
      <div class="title">
        <span>수동 제어 모드</span>
      </div>
    </div>
    <div class="control-state">
      <div class="title">
        <span>상태</span>
      </div>
      <div
        class="contents"
        *ngFor="let actuator of actuatorService.actuators; index as i"
      >
        <div class="title" *ngIf="i == 0">
          <div class="name"><span>구동기</span></div>
          <div class="name"><span>작동상태</span></div>
          <div
            class="name"
            *ngIf="actuatorService.actuators[0].action.indexOf('open') > -1"
          >
            <span>작동시간</span>
          </div>
          <div class="name"><span>작동이력</span></div>
        </div>
        <div>
          <div class="item">
            <div class="name">
              <span>{{ actuator.name }}</span>
            </div>

            <div
              class="state"
              *ngIf="actuator.action.indexOf('open') > -1; else noOpen"
            >
              <span>{{ actuatorService.state[i] }}%</span>
            </div>
            <ng-template #noOpen>
              <div class="state">
                <span *ngIf="actuatorService.state[i] == 1; else stop"
                  >작동</span
                >
                <ng-template #stop>
                  <span>정지</span>
                </ng-template>
              </div>
            </ng-template>
            <div class="state" *ngIf="actuator.action.indexOf('open') > -1">
              <input
                type="text"
                value="{{ actuator.duration }}"
                style="width: 50px; text-align: center;"
                (keyup)="durationChange(actuator.id, $event)"
              />
            </div>
            <div class="log">
              <a routerLink="/control/log/{{ actuator.code }}">
                <button>상세보기</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-auto-control-mode></app-auto-control-mode> -->
    <app-manual-control-mode></app-manual-control-mode>
  </div>
</div>
