.user {
  font-size: 16px;
  text-align: right;
  padding: 8px 16px 8px 0px;
  background-color: var(--main-color);
}
.name {
  margin-right: 12px;
}
.information {
  display: inline-block;
  width: 45%;
  text-align: left;
  padding-left: 5%;
  color: var(--font-color);
}
