<div class="user">
  <div>
    <div *ngIf="this.accountService.User" class="information">
      <span>{{ this.weatherService.temperature }}°C </span>
      <img
        style="
          vertical-align: middle;
          width: 15px;
          filter: invert(72%) sepia(61%) saturate(6926%) hue-rotate(162deg)
            brightness(95%) contrast(101%);
        "
        src="../assets/img/ic_humidity.svg"
      />

      <span
        [ngStyle]="{
          color:
            this.weatherService.humidity < 85
              ? 'var(--font-color)'
              : 'var(--accent-color)'
        }"
        >{{ this.weatherService.humidity }}%</span
      >
    </div>
    <div class="information" style="text-align: right;">
      <span class="name" *ngIf="this.accountService.User; else noUser"
        >{{ this.accountService.user.name }}
      </span>
      <ng-template #noUser
        ><button routerLink="/login">로그인</button></ng-template
      >
      <button (click)="logOut()">로그아웃</button>
    </div>
  </div>
</div>
<div style="height: 1px; background-color: var(--accent-color);"></div>
