.form-group {
  padding: 8px 64px 8px 32px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 276px;
  margin: auto;
}

.form-control {
  display: block;
  width: 250px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--font-color-r);
  background-color: var(--font-color);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
