<div class="background">
  <div class="form-group">
    <div>
      <div>
        <label style="font-size: 14px;" for="userid">아이디</label>
      </div>
      <div>
        <input
          type="text"
          id="userid"
          class="form-control"
          [(ngModel)]="account"
        />
      </div>
    </div>
    <div>
      <div>
        <label style="font-size: 14px;" for="password">비밀번호</label>
      </div>
      <div>
        <input
          type="password"
          id="password"
          class="form-control"
          [(ngModel)]="password"
        />
      </div>
    </div>
    <div>
      <span><br /></span>
    </div>
    <div style="text-align: right;">
      <button (click)="login()">로그인</button>
    </div>
  </div>
</div>
