.control-state {
  font-size: 16px;
  width: 800px;
  margin: auto;
  color: var(--font-color);
}
.control-state > .title {
  font-weight: 600;
  padding: 4px;
  padding-left: 16px;
  border: 1px solid var(--base-deep-color);
  background-color: var(--base-color);
  color: var(--font-color-r);
  font-size: 1em;
}
.control-state .contents > .title,
.control-state .contents > div > .item {
  display: flex;
  text-align: center;
  font-size: 0.9em;
}
.control-state > .contents > .title > .name {
  padding: 8px 0 8px 0;
  text-align: center;
  flex-basis: 200px;
  background-color: var(--main-color);
}
.control-state > .contents > .title > .action {
  padding: 8px 0 8px 0;
  text-align: center;
  flex-basis: 600px;
  background-color: var(--main-color);
  font-weight: 300;
}
.control-state > .contents > div > .item > .name {
  padding: 12px 0 8px 0;
  flex-basis: 200px;
  font-weight: 300;
  background-color: var(--base-color);
  border: 1px solid var(--base-deep-color);
  color: var(--font-color-r);
}
.control-state > .contents > div > .item > .action {
  padding: 8px 0 8px 0;
  flex-basis: 600px;
  background-color: var(--base-color);
  border: 1px solid var(--base-deep-color);
}
@media (max-width: 420px) {
  .auto-manual {
    width: 402px;
  }
  .control-state {
    width: 420px;
  }
  .control-state > .contents > .title > .name,
  .control-state > .contents > div > .item > .name {
    flex-basis: 140px;
  }
  .control-state > .contents > .title > .action,
  .control-state > .contents > div > .item > .action {
    flex-basis: 280px;
  }
}
