<div>
  <div class="control-state">
    <div class="title">
      <span>수동제어모드</span>
    </div>
    <div class="contents">
      <div class="title">
        <div class="name"><span>구동기</span></div>
        <div class="action"><span>수동제어</span></div>
      </div>
      <div
        *ngIf="
          controlPanelService.CurrentControlPanel.manual_schedule_mode_flag ==
            1;
          else manualMode
        "
      >
        <div style="text-align: center; margin-top: 32px; color: black;">
          <span>
            스케쥴 제어 모드로 수동제어를 사용할 수 없습니다.
            <br /><a routerLink="/setting">설정</a>에서 스케쥴 제어모드를 해제할
            수 있습니다.
          </span>
        </div>
      </div>
      <ng-template #manualMode>
        <div *ngFor="let actuator of actuatorService.actuators; index as i">
          <div class="item">
            <div class="name">
              <span>{{ actuator.name }}</span>
            </div>
            <div class="action">
              <select
                (change)="onSelectRange(actuator.code, $event)"
                name=""
                id=""
                style="vertical-align: middle; margin-right: 8px;"
                *ngIf="actuator.action.indexOf('open') > -1"
              >
                <option>0%</option>
                <option>10%</option>
                <option>20%</option>
                <option>30%</option>
                <option>40%</option>
                <option>50%</option>
                <option>60%</option>
                <option>70%</option>
                <option>80%</option>
                <option>90%</option>
                <option>100%</option>
              </select>
              <button
                (click)="openWindowControl(actuator.code)"
                *ngIf="actuator.action.indexOf('open') > -1; else noWindows"
              >
                작동
              </button>
              <!-- <button
              (click)="closeWindowControl(actuator.code)"
              style="margin-left:2px"
              *ngIf="actuator.action.indexOf('open') > -1"
            >
              정지
            </button> -->
              <ng-template #noWindows>
                <button (click)="onControl(actuator.code)">
                  작동
                </button>
                <button (click)="offControl(actuator.code)">
                  정지
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
