<div class="backgound">
  <div>
    <div class="big-title">
      <span>제어모드</span>
    </div>
    <div style="width: 420px; margin: auto;">
      <div class="small-title">
        <span>
          스케쥴모드
        </span>
      </div>
      <div
        class="item"
        *ngFor="
          let controlPanel of controlPanelService.controlPanels;
          index as i
        "
        [ngStyle]="{
          background: i % 2 ? 'var(--base-color)' : 'var(--base-deep-color)'
        }"
      >
        <div style="margin-left: 32px; padding-top: 8px;">
          <span>{{ controlPanel.name }}</span>
        </div>
        <div style="text-align: right; margin-right: 16px; padding-top: 8px;">
          <mat-slide-toggle
            [checked]="trans[controlPanel.manual_schedule_mode_flag]"
            (change)="updateManualScheduleModeFlag(controlPanel.id, $event)"
          ></mat-slide-toggle>
        </div>
      </div>
    </div>
    <!-- <button (click)="changeTheme(1)">1</button>
    <button (click)="changeTheme(2)">2</button>
    <button (click)="changeTheme(3)">3</button>
    <button (click)="changeTheme(4)">4</button>
    <button (click)="changeTheme(5)">5</button>
    <button (click)="changeTheme(6)">6</button>
    <button (click)="changeTheme(7)">7</button> -->
  </div>
</div>
