.backgound {
  background-color: var(--base-color);
}
.big-title {
  background-color: var(--main-color);
  color: var(--base-color);
  padding: 8px;
}
.small-title {
  height: 2em;
  padding-top: 0.5em;
  font-size: 1em;
  margin-left: 16px;
}
.item {
  height: 40px;
  font-size: 1em;
  display: flex;
}
.item > div {
  flex-basis: 210px;
}

@media (max-width: 420px) {
  .item > div {
    flex-basis: 210px;
  }
}
