.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  margin: auto;
  background-color: var(--main-color);
}
.nav > .item {
  text-align: center;
  font-size: 1em;
  flex-basis: 500px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--main-color);
  color: var(--font-color);
}
/* .nav > .item :hover {
  background-color: var(--base-color);
  color: var(--main-color);
} */
a {
  text-decoration: none;
  color: var(--font-color);
}
.bar {
  padding-top: 15px;
  padding-bottom: 15px;
}
.bar > div {
  width: 1px;
  height: 20px;
  background-color: var(--accent-color);
}
@media (max-width: 420px) {
  .nav {
    width: 420px;
  }
  .nav > .item {
    flex-basis: 105px;
  }
}
