<div>
  <div class="nav">
    <div class="item">
      <a routerLink="/total/state">
        전체상태
      </a>
    </div>
    <div class="bar">
      <div></div>
    </div>
    <div class="item">
      <a routerLink="/controller/1">
        수동제어
      </a>
    </div>
    <div class="bar">
      <div></div>
    </div>
    <div class="item">
      <a routerLink="/auto/control">
        스케쥴링
      </a>
    </div>
    <div class="bar"><div></div></div>
    <div class="item">
      <a routerLink="/setting">
        설정
      </a>
    </div>
  </div>
</div>
