<div class="background">
  <app-user-state></app-user-state>
  <app-control-drive-modules></app-control-drive-modules>
  <router-outlet></router-outlet>
  <app-bottom-navigation></app-bottom-navigation>
</div>
