.control-log > .title {
  font-weight: 600;
  padding: 8px;
  padding-left: 16px;
  /* border: 1px solid #d7dce1; */
  font-size: 16px;
  /* box-shadow: 0 8px 8px #eee inset, 0 -8px 8px #ddd inset;
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 2px;
  background: #eee; */
  background: var(--main-color);
  color: var(--font-color);
  min-height: 1em;
}
.control-log > .top-menu {
  display: flex;
  padding-top: 4px;
  align-items: center;
  justify-content: center;
  background: var(--base-color);
}
.control-log > .top-menu > select {
  flex-basis: 54px;
  margin-left: 2px;
  height: 24px;
  max-width: 50%;
}
.control-log > .top-menu > mat-form-field {
  flex-basis: 88px;
  width: 88px;
  margin-left: 2px;
  font-size: 14px;
}
.control-log > .top-menu > button {
  flex-basis: 58px;
  margin-left: 2px;
  /* height: 24px; */
}
.item,
.name {
  background: var(--base-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item > div,
.name > div {
  flex-basis: 84px;
  text-align: center;
  font-size: 1em;
}
.name {
  /* box-shadow: 0 8px 8px #eee inset, 0 -8px 8px #ddd inset;
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 2px;
  background: #eee; */
  background: var(--main-color);
  color: var(--font-color);
  min-height: 1em;
}
.name > div {
  padding: 4px 0px 4px 0px;
  /* font-weight: 600; */
}
.item > div {
  max-width: 50%;
}
.item > div > span {
  max-width: 50%;
}
