<div class="control-log">
  <div class="title">
    <span>이력정보〉장치작동</span>
  </div>
  <div class="top-menu">
    <!-- <select name="" id=""></select>
    <select name="" id=""></select> -->
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="startDate"
        [matDatepicker]="picker"
        placeholder="시작일"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="endDate"
        [matDatepicker]="picker1"
        placeholder="종료일"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button (click)="clickSearchHistory()">조회</button>
    <angular2csv [data]="histories" filename="test.csv" [options]="options1"
      >엑셀</angular2csv
    >
  </div>
  <div class="name">
    <div>작동내역</div>
    <div>온실이름</div>
    <div>작동대상</div>
    <div>이력일시</div>
    <div>비고</div>
  </div>
  <div *ngFor="let history of actuatorControlHistoryService.histories">
    <div class="item">
      <div>
        <span>{{ history.state }}</span>
      </div>
      <div>
        <span>{{ history.control_panel_id }}</span>
      </div>
      <div>
        <span>{{ history.actuator_id }}</span>
      </div>
      <div>
        <span
          >{{ history.datetime | date: "yyyy-MM-dd" }}<br />{{
            history.datetime | date: "hh:mm:ss"
          }}</span
        >
      </div>
      <div>
        <span>{{ history.range }}%</span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
