<div class="background">
  <div class="auto-manual">
    <div class="small">
      <span>기본설정 </span>
    </div>
    <div>
      <mat-form-field style="width: 110px;">
        <mat-label>구동기 선택</mat-label>
        <mat-select
          [(ngModel)]="select_actuator"
          (ngModelChange)="selectActuator($event)"
        >
          <mat-option
            *ngFor="
              let actuator of this.actuatorService.actuatorList;
              index as i
            "
            [value]="actuator.id"
            >{{ actuator.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button (click)="clickSearchAutoSchedule()">조회</button>
      <button (click)="clickAddScheduleDialog()">추가</button>
      <button (click)="clickApplySchedule()">적용</button>
    </div>
  </div>
  <div class="title">
    <div class="label small"><span>번호</span></div>
    <div class="label"><span>작동시간</span></div>
    <div class="label small"><span>작동</span></div>
    <div class="label"><span></span></div>
  </div>
  <div
    class="contents"
    *ngFor="let autoSchedule of autoScheduleService.AutoSchedules; index as i"
    [ngStyle]="{
      background: i % 2 ? 'var(--base-deep-color)' : 'var(--base-color)'
    }"
  >
    <div class="content small">
      <span>{{ i + 1 }}</span>
    </div>
    <div class="content">
      <input type="text" [(ngModel)]="autoSchedule.hour" />:
      <input type="text" [(ngModel)]="autoSchedule.minute" />
    </div>
    <div class="content small">
      <input
        *ngIf="!isOpen; else noOpen"
        style="vertical-align: middle; margin-right: 8px; font-size: 16px;"
        type="text"
        [(ngModel)]="autoSchedule.operation"
      />
      <ng-template #noOpen>
        <select
          [(ngModel)]="autoSchedule.operation"
          style="vertical-align: middle; margin-right: 8px; font-size: 16px;"
        >
          <option>0</option>
          <option>10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
          <option>60</option>
          <option>70</option>
          <option>80</option>
          <option>90</option>
          <option>100</option>
        </select>
      </ng-template>
    </div>
    <div class="content">
      <button (click)="clickUpdateAutoSchedule(i)">
        수정
      </button>
      <button (click)="clickDeleteAutoSchedule(autoSchedule.id)">삭제</button>
    </div>
  </div>
  <div class="contents" style="padding-top: 16px;" *ngIf="flagShowAddSchedule">
    <div class="content small"></div>
    <div class="content">
      <input type="text" [(ngModel)]="addHour" />:
      <input type="text" [(ngModel)]="addMinute" />
    </div>
    <div class="content small">
      <input
        *ngIf="!isOpen; else noOpen"
        style="vertical-align: middle; margin-right: 8px; font-size: 16px;"
        type="text"
        [(ngModel)]="addOperation"
      />
      <ng-template #noOpen>
        <select
          (change)="onSelectRange($event)"
          style="vertical-align: middle; margin-right: 8px; font-size: 16px;"
        >
          <option>0%</option>
          <option>10%</option>
          <option>20%</option>
          <option>30%</option>
          <option>40%</option>
          <option>50%</option>
          <option>60%</option>
          <option>70%</option>
          <option>80%</option>
          <option>90%</option>
          <option>100%</option>
        </select>
      </ng-template>

      <!-- <input type="text" [(ngModel)]="addOperation" /> -->
    </div>
    <div class="content">
      <button (click)="clickPutAutoSchedule()">
        추가
      </button>
    </div>
  </div>
</div>
