.auto-manual {
  border-top: 1px solid var(--base-deep-color);
  background-color: var(--base-color);
  font-weight: 600;
  padding: 8px;
  font-size: 1em;
  width: 784px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
}
.auto-manual > div {
  flex-basis: 400px;
  max-width: 50%;
}
.auto-manual > .small {
  flex-basis: 400px;
}
.title {
  display: flex;
  width: 800px;
  margin: auto;
  font-size: 1em;
}

.title > .label {
  padding: 8px 0 8px 0;
  text-align: center;
  flex-basis: 400px;
  background-color: var(--main-color);
  color: white;
  font-weight: 300;
}
.contents {
  display: flex;
  width: 800px;
  margin: auto;
  font-size: 1em;
  background-color: var(--base-color);
}
.contents > .content {
  padding: 12px 0 12px 0;
  text-align: center;
  flex-basis: 400px;
  border-bottom: 1px solid var(--base-deep-color);
}
button {
  width: 40px;
  padding: 1px 3px;
  height: 25px;
  min-width: 3.6em;
  margin-left: 2px;
  font-size: 0.9em;
}
.contents > .content > input {
  width: 30px;
  text-align: center;
  font-size: 1em;
}
.title > .small,
.contents > .small {
  flex-basis: 100px !important;
}
@media (max-width: 420px) {
  .auto-manual {
    width: 402px;
  }
  .auto-manual > div {
    flex-basis: 134px;
  }
  .title,
  .contents {
    width: 420px;
  }
  .title > .label,
  .contents > .content {
    flex-basis: 185px;
  }

  .title > .small,
  .contents > .small {
    flex-basis: 50px !important;
  }
  .auto-manual > .small {
    flex-basis: 65px !important;
  }
  .auto-manual > div {
    flex-basis: 170px;
  }
}
