<div>
  <div class="card-group">
    <div class="card" *ngFor="let module of modules; index as i">
      <a routerLink="/controller/{{ module.id }}">
        <div class="name">
          {{ module.name }}
        </div>
        <div
          style="
            margin-top: 12px;
            height: 1px;
            width: 100px;
            background-color: var(--accent-color);
            margin-left: 10px;
          "
        ></div>
        <div style="margin-top: 12px;">
          <div style="display: flex;">
            <ng-container
              *ngFor="let actuator of actuatorService.actuatorList; index as j"
            >
              <div
                *ngIf="
                  actuator.code % 2 == 1 &&
                  actuator.code != 907 &&
                  actuator.code != 911 &&
                  module.id == actuator.parent_id
                "
                style="
                  margin-top: 12px;
                  border-radius: 100px;
                  height: 16px;
                  width: 2px;
                  background-color: var(--accent-color);
                "
              >
                <span>&nbsp;</span>
              </div>
              <div
                style="flex-basis: 160px; text-align: center;"
                *ngIf="module.id == actuator.parent_id"
              >
                <div
                  *ngIf="actuator.action.indexOf('open') > -1"
                  style="font-weight: 600; font-size: 28px;"
                >
                  <span>{{ actuator.state }}</span>
                  <span style="font-size: 12px;">%</span>
                </div>
                <div
                  *ngIf="actuator.action.indexOf('on') > -1"
                  style="font-weight: 600; font-size: 24px;"
                >
                  {{ operations[actuator.state] }}
                </div>
                <div *ngIf="actuator.name.split('(')[1]">
                  {{ actuator.name.split("(")[1].split(")")[0] }}
                </div>
                <div *ngIf="!actuator.name.split('(')[1]">
                  {{ actuator.name }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div></div>
  <div></div>
  <div></div>
</div>
