.card-group {
  font-size: 14px;
  text-align: center;
  color: var(--main-color);
  background-color: var(--base-color);
}
.card {
  display: inline-block;
  width: 120px;
  height: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0.3rem 0.3rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.6%;
  background: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
.name {
  margin-top: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
