/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
.background {
  background-color: var(--base-color);
}
:root {
  --main-color: #14213d;
  --main-deep-color: #000000;
  --accent-color: #fca311;
  --accent-color-y: #ffe66d;
  --base-color: #ffffff;
  --base-deep-color: #e5e5e5;
  --font-color: #fff;
  --font-color-r: #000;
}
@font-face {
  font-family: "NanumGothic";
  src: url("./assets/fonts/NanumGothicCoding.TTF");
}
body {
  margin: 0;
  padding: 0;
  font-family: "NanumGothic", sans-serif;
  background-color: var(--base-color);
}
button {
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 6px;
  font-size: 1em;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--font-color);
  background-color: var(--main-color);
  border-color: var(--accent-color);
  font-weight: 600;
  min-width: 4.6em;
}
input[type="text"],
select {
  background-color: var(--base-color);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
